.menu {
  display: flex;
  justify-content: center;
  background: #f9f9f9;
  padding: 10px;
  list-style: none;
  color: #ccc;
}

li {
  margin: 20px;
}

.alink {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.alink::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #8254ff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.alink:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.alink:global(.active) {
  color: #8254ff;
}
