.list {
  list-style: none;
  display: block;
  text-align: start;
  font-size: 16px;
  color: #8f8f8f;
  font-weight: 400;
}

.link {
  font-size: 16px;
  color: #413f3f;
  font-weight: 400;
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(192, 177, 208, 1),
      rgba(192, 177, 208, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 600ms;
}

.link:hover {
  background-size: 0 3px, 100% 3px;
}
